# ignored files
*.tfstate
*.tfstate.backup
.terraform
.idea
*.iml
.terraform.tfstate.lock.info
go.sum
*.terrafrom.lock.hcl
*.crash
*.log
/_example/multi_node_vpc/.terraform.lock.hcl
/_example/multi_node_non_vpc/.terraform.lock.hcl